main
    width: 100vw
    height: 100vh
    background-image: url(../assets/images/bg-mobile.png)

    .container
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin: 0 auto
        max-width: 90%
        height: 100%




.options
    @extend $box-styles
    @extend $flex-column
    justify-content: center
    padding-left: 40px
    height: 200px
    border-top-right-radius: 100px

    &__icon-container
        margin-top: top-margin
        display: flex

        i
            display: inline-block
            border-radius: 10px
            width: 50px
            height: 50px
            text-align: center
            line-height: 50px
            background-color: color--very-dark-blue


            img
                display inline
                vertical-align: middle

        i + i
            margin-left: 10px

.progress-container
    @extend $box-styles
    @extend $flex-column
    align-items: center
    margin-top: top-margin
    padding-top: top-margin
    height 150px
    color: color--pale-blue
    font-size: 14px
    position relative

    b
        text-transform: uppercase

    
    .counter
        @extend $flex-center
        width: 180px
        height 70px
        color: black
        background-color: #ffffff
        border: black 2px solid
        border-radius: 10px
        position: absolute
        bottom: -25%
        
        span
            width: 100%
            @extend $flex-center
            font-size: 34px
            font-weight: bold
            
            b
                font-size: 12px
                color: #9898a0
                margin-left: 10px