@media screen and (min-width: 376px)
    body
        background-color: color--very-dark-blue
    main
        background-image: url("../assets/images/bg-desktop.png")
        background-repeat: no-repeat
        background-position: bottom left
        
        .container   
            align-items: flex-start
        
    .options
        max-width: 350px

    .progress-container
        max-width: 550px
        width: 100%

@media screen and (min-width: 610px)
    main .container
        max-width: 70%

@media screen and (min-width: 1024px)
    main .container
        max-width 90%
        justify-content: space-between
        flex-direction: initial
        align-items: center
        justify-content: center

        .options
            margin-right: 20px
    .progress-container
        margin-top: 50px
        justify-content: center
        padding: 0

        p
            align-self: flex-start
            margin-left: 50px
        .counter
            top -25%
            right: 40px 

            span
                font-size: 40px
            
            &:after
                content: ""
                border-style: solid;
                border-color:  white transparent transparent transparent;
                border-width: 50px 0px 0px 50px;
                width: 0px;
                height: 0;
                // margin: 20px 0 50px 0;
                position: absolute
                right: 0
                bottom: -20px

    .progress-container__bar-container
        margin-top: 20px
    
    main
        background-position: bottom right


     

        
