/** Mixins */
$box-styles
    border-radius: 10px
    background-color: color--dark-blue
    width: 95%
$flex-column
    display: flex
    flex-direction: column
$flex-center
    display: flex
    align-items: center
    justify-content: center